<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Con칩cenos</h1>
      <p class="mx-auto max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
        Descubre la historia y los valores que impulsan a New Models, una agencia de modelos
        comprometida con la excelencia y la creatividad en la industria de la moda. Aprende m치s
        sobre nuestro equipo apasionado y nuestra visi칩n de empoderar a modelos talentosos para
        alcanzar su m치ximo potencial.
      </p>
    </div>
  </div>
</section>
