---
import Layout from '../layouts/Layout.astro';
---

<Layout description="" image="" title="">
  <header class="py-16 lg:py-20">
    <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
        TRABAJO DE ANFITRIONA Y MODELO
      </h1>
    </div>
  </header>
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl"></h1>
      <p class="mb-4">
        Si estás interesada en trabajar con nosotros, lee atentamente esta guía de preguntas
        frecuentes.
      </p>

      <h2 class="mb-2 text-xl font-bold">¿En qué consiste el trabajo de anfitriona?</h2>
      <p class="mb-4">
        Una anfitriona es una señorita que trabaja en distintos tipos de eventos, como ferias
        empresariales, congresos, seminarios, campañas en centros comerciales, inauguraciones,
        lanzamientos de marca, etc. Sus funciones usualmente son las de dar la bienvenida a las
        personas, repartir folletos, entregar regalos, y otros temas relativos al desarrollo de un
        evento o campaña. Usualmente viste un uniforme con el logotipo de la empresa que la
        contrató.
      </p>

      <h2 class="mb-2 text-xl font-bold">¿Qué requisitos piden para trabajar como anfitriona?</h2>
      <ul class="mb-4 list-disc pl-4">
        <li>¿Cuáles son los días y el horario de trabajo?</li>
        <li>¿Cuánto pagan mensual?</li>
        <li>¿Cómo puedo hacer para postular?</li>
        <li>¿Es necesario enviar fotos? ¿No me puedo presentar directamente para que me vean?</li>
        <li>¿Son una empresa constituida? ¿Con qué marcas trabajan?</li>
        <li>Soy menor de edad pero tengo permiso de mis padres ¿Puedo trabajar?</li>
      </ul>
    </div>
    <section class="py-16 sm:py-20">
      <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-16">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
            Si estás interesada en postular por favor completa tus datos y adjunta unas fotos
          </h2>
        </div>
      </div>
    </section>
  </section>
  <div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl">
    <div class="md:flex">
      <div class="md:shrink-0">
        <img
          class="h-48 w-full object-cover md:h-full md:w-48"
          src="/public/assets/categoria-fotos/mujer.jpg"
          alt="Modern building architecture"
        />
      </div>
      <div class="p-8">
        <div class="text-indigo-500 text-sm font-semibold uppercase tracking-wide">
          Company retreats
        </div>
        <a href="#" class="text-black mt-1 block text-lg font-medium leading-tight hover:underline"
          >Incredible accommodation for your team</a
        >
        <p class="text-slate-500 mt-2">
          Looking to take your team away on a retreat to enjoy awesome food and take in some
          sunshine? We have a list of places to do just that.
        </p>
      </div>
    </div>
  </div>
</Layout>
