---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Trabajo de Anfitriona y Modelo"
  description="Guía de trabajo para Anfitrionas y Modelos"
  image="/assets/hero.jpg">
  <header class="py-16 lg:py-20">
    <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
        TRABAJO DE ANFITRIONA Y MODELO
      </h1>
    </div>
  </header>
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl"></h1>
      <p class="mb-4">
        Si estás interesada en trabajar con nosotros, lee atentamente esta guía de preguntas
        frecuentes.
      </p>

      <h2 class="mb-2 text-xl font-bold">¿En qué consiste el trabajo de anfitriona?</h2>
      <p class="mb-4">
        Una anfitriona es una señorita que trabaja en distintos tipos de eventos, como ferias
        empresariales, congresos, seminarios, campañas en centros comerciales, inauguraciones,
        lanzamientos de marca, etc. Sus funciones usualmente son las de dar la bienvenida a las
        personas, repartir folletos, entregar regalos, y otros temas relativos al desarrollo de un
        evento o campaña. Usualmente viste un uniforme con el logotipo de la empresa que la
        contrató.
      </p>

      <h2 class="mb-2 text-xl font-bold">¿Qué requisitos piden para trabajar como anfitriona?</h2>
      <ul class="mb-4 list-disc pl-4">
        <li>¿Cuáles son los días y el horario de trabajo?</li>
        <li>¿Cuánto pagan mensual?</li>
        <li>¿Cómo puedo hacer para postular?</li>
        <li>¿Es necesario enviar fotos? ¿No me puedo presentar directamente para que me vean?</li>
        <li>¿Son una empresa constituida? ¿Con qué marcas trabajan?</li>
        <li>Soy menor de edad pero tengo permiso de mis padres ¿Puedo trabajar?</li>
      </ul>
    </div>
    <section class="py-16 sm:py-20">
      <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col gap-16">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
            <h2 class="mb-2 text-xl font-bold">
              Si estás interesada en postular por favor completa tus datos y adjunta unas fotos
            </h2>

            <p class="mb-4">
              <a
                href="https://wa.me/595981951315"
                class="text-blue-600 hover:underline"
                target="_blank"
                rel="noopener noreferrer">
                Contáctanos por WhatsApp
              </a>
            </p>
          </h2>
        </div>
      </div>
      <!--  -->
    </section>
  </section>
</Layout>
