---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Página de Agradecimiento por enviar un mensaje a la Agencia The New Models"
  title="Muchas Gracias"
>
  <div class="container mx-auto mt-10">
    <h1 class="text-center text-3xl font-semibold">¡Gracias por tu mensaje!</h1>
    <p class="mt-4 text-center text-lg">
      Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.
    </p>
    <div class="mt-8 flex justify-center">
      <a
        href="/"
        class="rounded-full bg-primary-600 px-4 py-2 text-lg text-white hover:bg-primary-700"
        >Volver a la página principal</a
      >
    </div>
  </div>
</Layout>
